  <div class="container">

  <h2>Cadastrar Cliente</h2>

  <!-- Error message -->

  <!-- Success message -->

  <form [formGroup]="clienteForm" (ngSubmit)="cadastrarCliente()">
    <div class="form-group">
      <label for="id">Id:</label>
      <input
        id="id"
        type="text"
        class="form-control"
        formControlName="id"
        [ngClass]="{ 'is-invalid': clienteForm.get('id')?.invalid && clienteForm.get('id')?.touched }"
      />
      <div *ngIf="clienteForm.get('id')?.invalid && clienteForm.get('id')?.touched" class="invalid-feedback">
        O id é obrigatório.
      </div>
    </div>
    <!-- Nome -->
    <div class="form-group">
      <label for="nome">Nome:</label>
      <input
        id="nome"
        type="text"
        class="form-control"
        formControlName="nome"
        [ngClass]="{ 'is-invalid': clienteForm.get('nome')?.invalid && clienteForm.get('nome')?.touched }"
      />
      <div *ngIf="clienteForm.get('nome')?.invalid && clienteForm.get('nome')?.touched" class="invalid-feedback">
        O nome é obrigatório.
      </div>
    </div>

    <!-- Email -->
    <div formGroupName="email" class="form-group">
      <label for="email">Email:</label>
      <input
        id="enderecoEmail"
        type="email"
        class="form-control"
        formControlName="enderecoEmail"
        [ngClass]="{ 'is-invalid': clienteForm.get('email.enderecoEmail')?.invalid && clienteForm.get('email.enderecoEmail')?.touched }"
      />
      <div *ngIf="clienteForm.get('email.enderecoEmail')?.invalid && clienteForm.get('email.enderecoEmail')?.touched" class="invalid-feedback">
        Informe um email válido.
      </div>
    </div>

    <!-- Telefone -->
    <div formGroupName="telefone" class="form-group">
      <label for="telefone">Telefone:</label>
      <div class="d-flex">
        <input
          id="ddd"
          type="text"
          class="form-control"
          formControlName="ddd"
          maxlength="2"
          [ngClass]="{ 'is-invalid': clienteForm.get('telefone.ddd')?.invalid && clienteForm.get('telefone.ddd')?.touched }"
        />
        <input
          id="numeroTelefone"
          type="text"
          maxlength="9"
          class="form-control ml-2"
          formControlName="numeroTelefone"
          [ngClass]="{ 'is-invalid': clienteForm.get('telefone.numeroTelefone')?.invalid && clienteForm.get('telefone.numeroTelefone')?.touched }"
        />
      </div>
      <div *ngIf="clienteForm.get('telefone.ddd')?.invalid && clienteForm.get('telefone.ddd')?.touched" class="invalid-feedback">
        DDD é obrigatório.
      </div>
      <div *ngIf="clienteForm.get('telefone.numeroTelefone')?.invalid && clienteForm.get('telefone.numeroTelefone')?.touched" class="invalid-feedback">
        Número de telefone é obrigatório.
      </div>
    </div>

    <!-- Endereço -->
    <div formGroupName="endereco" class="form-group">
      <h5>Endereço:</h5>

      <!-- Rua -->
      <div class="form-group">
        <label for="rua">Rua:</label>
        <input
          id="rua"
          type="text"
          class="form-control"
          formControlName="rua"
          [ngClass]="{ 'is-invalid': clienteForm.get('endereco.rua')?.invalid && clienteForm.get('endereco.rua')?.touched }"
        />
        <div *ngIf="clienteForm.get('endereco.rua')?.invalid && clienteForm.get('endereco.rua')?.touched" class="invalid-feedback">
          A rua é obrigatória.
        </div>
      </div>

      <!-- Número -->
      <div class="form-group">
        <label for="numero">Número:</label>
        <input
          id="numero"
          type="text"
          class="form-control"
          formControlName="numero"
          [ngClass]="{ 'is-invalid': clienteForm.get('endereco.numero')?.invalid && clienteForm.get('endereco.numero')?.touched }"
        />
        <div *ngIf="clienteForm.get('endereco.numero')?.invalid && clienteForm.get('endereco.numero')?.touched" class="invalid-feedback">
          O número é obrigatório.
        </div>
      </div>

      <!-- Bairro -->
      <div class="form-group">
        <label for="bairro">Bairro:</label>
        <input
          id="bairro"
          type="text"
          class="form-control"
          formControlName="bairro"
          [ngClass]="{ 'is-invalid': clienteForm.get('endereco.bairro')?.invalid && clienteForm.get('endereco.bairro')?.touched }"
        />
        <div *ngIf="clienteForm.get('endereco.bairro')?.invalid && clienteForm.get('endereco.bairro')?.touched" class="invalid-feedback">
          O bairro é obrigatório.
        </div>
      </div>

      <!-- Cidade -->
      <div class="form-group">
        <label for="cidade">Cidade:</label>
        <input
          id="cidade"
          type="text"
          class="form-control"
          formControlName="cidade"
          [ngClass]="{ 'is-invalid': clienteForm.get('endereco.cidade')?.invalid && clienteForm.get('endereco.cidade')?.touched }"
        />
        <div *ngIf="clienteForm.get('endereco.cidade')?.invalid && clienteForm.get('endereco.cidade')?.touched" class="invalid-feedback">
          A cidade é obrigatória.
        </div>
      </div>

      <!-- Estado -->
      <div class="form-group">
        <label for="estado">Estado:</label>
        <input
          id="estado"
          type="text"
          class="form-control"
          formControlName="estado"
          [ngClass]="{ 'is-invalid': clienteForm.get('endereco.estado')?.invalid && clienteForm.get('endereco.estado')?.touched }"
        />
        <div *ngIf="clienteForm.get('endereco.estado')?.invalid && clienteForm.get('endereco.estado')?.touched" class="invalid-feedback">
          O estado é obrigatório.
        </div>
      </div>

      <!-- CEP -->
      <div class="form-group">
        <label for="cep">CEP:</label>
        <input
          id="cep"
          type="text"
          maxlength="9"
          class="form-control"
          formControlName="cep"
          [ngClass]="{ 'is-invalid': clienteForm.get('endereco.cep')?.invalid && clienteForm.get('endereco.cep')?.touched }"
        />
       <div *ngIf="clienteForm.get('endereco.cep')?.invalid && clienteForm.get('endereco.cep')?.touched" class="invalid-feedback">
        O CEP deve estar no formato XXXXX-XXX.
      </div>
      </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!clienteForm.valid">Salvar</button>

    <!-- Cancel Button -->
     <br>
    <!-- <button type="button" class="btn btn-secondary ml-2" (click)="router.navigate(['/clientes'])">Cancelar</button> -->
  </form>
   <div *ngIf="erroCadastro" class="alert alert-danger mt-3">
    Ocorreu um erro ao tentar realizar o cadastro. Tente novamente.
  </div>
    <div *ngIf="erro" class="alert alert-danger">
    {{ erro }}
  </div>

 </div>